.card {
	border-radius: 25px;
	padding-left: 1%;
	background-color: rgba(68,117,224,0.7);
}

.card-header:first-child {
	background-color: white;
	border-radius: 25px;
	margin-bottom: 6%;
	padding-bottom: 4%;
}

.btn {
	margin-left: 37%;
	margin-bottom: 3%;
	background-color: #20948B;
}