body {
	background: linear-gradient(#02076F, #60D1D6);
	color: white;
	font-weight: bold;
}

// .haut_de_lecran {
// 	height: 10%;
// 	width: 100%;
// 	background-color: #20948B;
// }

header {
	height: 10%;
	width: 109%;
	margin-left: -5%;
	padding-top: 6%;
	padding-bottom: 5%;
}

.trafficsurferimg {
	margin-left: 33%;
}

.house {
	border-radius: 50%;
}

.logos {
	margin-top:10%;
	margin-left: 2%;
	color: #DE7A22;
}

.list_logo {
	text-decoration: none;
	display: inline;
}

.form {
	height: 75px;
	width: 300px;
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 7%;
}

.form-check {
	margin-left: 26%;
}

.or {
	margin-left: 41%;
}

.time1, .time2 {
	margin-top: -8%;
}

.time {
	margin-top: 6%;
	margin-left: 8%;
}

.btn {
	margin-top: 5%;
	margin-left: 20%;
	background-color: #DE7A22;
}

.and {
	margin-left:1%;
}